#top{
    height:170px;
    margin:0px 20px;
    border:1px blue dashed;
}
#logo {
    padding:10px;
    margin:10px 100px;
    display:inline-block;
    float: left;
}
#animation {
    text-align: center;
    display:inline-block;
    margin:10px 100px;
    height:150px;
    width:400px;
    background-color:green;
    float: left;
}

.menu{
/*    position:fixed;*/
/*    border:1px blue dashed;*/
    height:60px;
    margin:10px 50px;
    background-color: yellow;
    display:block;
/*    float:left;
*/
}

#menu_div{
/*    border:2px blue dashed;*/
    margin:10px;
/*    margin-bottom:20px;*/
}
.menu li{
    font-size: 30px;
    margin:8px;
    font-family: Garamond,serif;
    display: inline;
}

.menu li a{
    text-decoration: none;
}

.menu li a:hover{
    color: red;
}


.container {
/*    border:1px blue dashed;*/
    height:500px;
    width: 300px;
/*    display:block;*/
    clear: both;
}
#left_col{
/*    border:1px blue dashed;*/
/*    display:inline-block;*/
/*    position: fixed;*/
    background-color:#FAEBD7 ;
    margin: 10px;
    padding: 50px 10px;
/*    clear: both;*/
}
