<html>
<head>
<title>
PCLub
</title>
<style>
.main_page img
{
    
    margin:10px;
    display:inline-block;
    
}
.first_row 
{
    
    display:block;
}
.first_row img
{
    height:150px;
    width:280px;
    
}
.second_row
{
    display:block;
}
.second_row img
{
    height:250px;
    width:570px;
   
}
.third_row
{
    display:block;
}
.third_row img
{
    height:150px;
    width:280px;
   
}
</style>
<link rel="stylesheet" type="text/css" href="/home/dipti/Downloads/semantic/packaged/css/semantic.min.css">
</head>
<body style="background-color:red;">
    <div class="main_page">
        <div class="first_row">
<!--             <div > -->
            <img src="home.png">
            <img src="blog.jpg">
            <img src="forum.jpg">
            <img src="project.jpg">
<!--             </div> -->
        </div>

        <div class="second_row">
            <div >
                <img src="logo.png">
            </div>
        </div>

        <div class="third_row">
<!--             <div > -->
            <img src="aboutus.jpg">
            <img src="team.jpg">
            <img src="calendar.jpg">
            <img  src="tutorial.jpg">
<!--             </div> -->
        </div>
        
    </div>
</body>
</html>
